<configuration>
    <!-- Configuración de Appender para consola -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %level - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Configuración de Appender para archivo -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/miapp.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %level - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Niveles de log -->
    <logger name="org.springframework.web" level="INFO"/>
    <logger name="com.miempresa" level="DEBUG"/>

    <!-- Nivel global de logging -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
